<template lang="html">
  <tr>
    <td>{{ user.id }}</td>
    <td>
      <input type="text" v-model="editForm.username" v-if="edit" class="form-control" required />
      <span v-else>{{ user.username }}</span>
    </td>
    <td>
      <input type="text" v-model="editForm.email" v-if="edit" class="form-control" required />
      <span v-else>{{ user.email }}</span>
    </td>
    <td>
      <button type="button" v-on:click="editUser" v-if="!edit" class="btn btn-info">Edit</button>
      <button type="button" v-on:click="cancelEdit" v-if="edit" class="btn btn-info">Cancel</button>
      <button type="button" v-on:click="updatedUser(user, editForm)" v-if="edit" class="btn btn-primary">Update</button>
      <button type="button" v-on:click="$emit('delete-user', user)" class="btn btn-danger"> Delete</button>
    </td>
  </tr>
</template>

<script>
export default {
  props: ['user'],
  data(){
    return {
      edit: false,
      editForm: {
        username: '',
        email: ''
      }
    }
  },
  methods: {
    editUser(){
      this.edit = true;
      this.editForm.username = this.user.username;
      this.editForm.email = this.user.email;
    },
    cancelEdit(){
      this.edit = false;
      this.editForm.username = '';
      this.editForm.email = '';
    },
    updatedUser(oldUser, newUser){
      axios.patch('/users/' + oldUser.id, newUser).then(response => {
        this.$emit('update-user');
        this.cancelEdit();
        console.log(response);
      });
    }
  }
}
</script>

<style lang="css">
</style>
