<template lang="html">
  <div>
    <form v-on:submit.prevent="createUser" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" v-model="user.username" class="form-control" required />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" v-model="user.email" class="form-control" required />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create New User</button>
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <User v-for="user in users" v-bind:user="user" v-on:delete-user="deleteUser" v-on:update-user="fetchUsers"></User>
      </tbody>
    </table>
  </div>
</template>
<script>
import User from './User.vue';

export default {
  name: "",
  data(){
    return{
      users: [],
      errors: [],
      user: {
        username: '',
        email: ''
      }
    }
  },
  components: {
    User
  },
  created(){
    this.fetchUsers();
  },
  methods: {
    fetchUsers() {
      axios.get('/users').then(response => {
        this.users = response.data.users;
      });
    },
    createUser(){
      axios.post('/users/', this.user).then(response => {
        this.users.push(response.data.user);
        this.user = {username: '', email: ''};
      }, response => {
        this.errors = response;
      });
    },
    deleteUser(user){
      axios.delete('/users/' + user.id).then(response=>{
        let index = this.users.indexOf(user);
        this.users.splice(index, 1);
      });
    }
  }
}
</script>
<style lang="css">
</style>
